# Project 4: Happy or wealthy?

## Introduction

Since I was a child I have been interested in money, may be not because of what I could buy with it but because of what I could make, so I could not get out of my mind that person (or those people, popular knowledge might be wider than you think) who is always telling to me 'Hey look, actually having money won't make you happy, it has nothing to do with that'.

And so, that is basically the reason of this project, I was curious about analyzing real data to answer this question, my question, am I being fooled? In other words, Is there any relation between richness and happiness?

So in order to have a more interesting dataset I will be analysing more than just happiness, I will try to understand why wealthness happens and what causes it measuring some different variables:


### Happiness: I will be using the happiness world report of 2015 for this objective, a worldwide survey based on the perception of the people. It will be the only non-objective variable of all of them, and the most important.

### GDP (Per Capita): Normalized measure of the wealthness of the citizens of a country, given by the world bank

### Personal freedom index: New study about personal freedom per country accomplished by the CATO Institute, measuring more than 120 variables to compute this index 

### Economic freedom index: Study with more than 30 economic variables measuring the ease of making business on those.

### Gini coefficient: This coefficient measures the inequality of a country, comparing the people who have the most important part of the wealthness to the ones who haves the less


 Having said that, even if happiness can not be measured, all the others measurements are approximations to a bias that I am supposing is close to the reality, as of course we can not measure exactly the speech or religious freedom, but we do know that if you say you do not believe in god and you are treated like a freak because of it you are not as free as you could be in another place.
 So even if we can not say those 'objectives' indexes are the reality, we will treat them as tools that can approximate to it.

## Data Wrangling

First of all, we start importing all the necessary libraries (NumPy, pandas...) so we can get the datasets and work with them:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set

w_happiness = pd.read_csv('2017.csv')
w_economic = pd.read_csv('economic_freedom_index2019_data.csv',  encoding='latin-1')
w_human = pd.read_csv('hfi_cc_2018.csv')
gdp = pd.read_csv('API_NY.GDP.PCAP.PP.CD_DS2_en_csv_v2_41041.csv', skiprows=3)
gini = pd.read_csv('API_SI.POV.GINI_DS2_en_csv_v2_41010.csv', skiprows=3)

Then we can have a look to the datasets:

In [10]:
w_happiness.head()
'''As we can see, the only valuable thing of this dataset is the final score and the rank, because even if we are measuring freedom and and gdp per capita (so we could think it is not necessary to use the next datasets), It is not real but what people think about those topics, so we can not measure them and so we need what we will be using later '''

'As we can see, the only valuable thing of this dataset is the final score and the rank, because even if we are measuring freedom and and gdp per capita (so we could think it is not necessary to use the next datasets), It is not real but what people think about those topics, so we can not measure them and so we need what we will be using later '

In [6]:
w_economic.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [7]:
w_human.head()

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0

In [8]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,33732.847450,35492.618487,35498.982089,37419.892817,38223.372261,38249.054869,38390.271649,39454.629831,NaN,NaN
1,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1951.558504,NaN
2,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6440.976270,NaN
3,Albania,ALB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9628.003545,10207.753519,10526.255328,10571.007488,11259.289824,11662.044933,11868.211515,12930.067676,NaN,NaN
4,Andorra,AND,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
gini.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN